<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div *ngIf="!loading && polls && polls.length > 0">
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nueva encuesta</h4>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()" #careerForm="ngForm" class="form-career">
            <label for="inputName">Nombre</label>
            <input type="text" id="inputName" class="form-control" placeholder="Nombre de la encuesta" required=""
            required
           [(ngModel)]="newPoll.key" name="key" #spy>
           <label for="careerSelection">Carrera</label>
           <select id="careerSelection" class="form-control" [(ngModel)]="selectedCareer" (change)="onChange()"
           name="selectedCareer"
           required=""
           required>
             <option *ngFor="let career of careers" [ngValue]="career">{{career.shortName}}</option>
           </select>
           <label for="dateFrom">Desde: </label>
           <div>
             <p-calendar id="dateFrom" [(ngModel)]="dateFrom" dateFormat="dd.mm.yy" showIcon="true" name="dateFrom"></p-calendar>
           </div>
           <label for="dateTo">Hasta: </label>
           <div class="marginbot">
             <p-calendar id="dateTo" [(ngModel)]="dateTo" dateFormat="dd.mm.yy" showIcon="true" name="dateTo"></p-calendar>
           </div>
           <div *ngIf="subjects" class="input-group">
              <select id="careerSelection" class="form-control" [(ngModel)]="subjectToAdd" name="subjectToAdd">
                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.longName}}</option>
              </select>
              <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="onChangeSubject()">Agregar materia</button>
              </span>
           </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" [disabled]="!careerForm.form.valid"
          (click)="careerForm.ngSubmit.emit()" data-dismiss="modal">Crear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group">
    <a *ngFor="let poll of polls" class="list-group-item btn list-group-item-success"
    routerLink="polls/{{poll.career.shortName}}/{{poll.key}}">
      {{poll.career.shortName}}: {{poll.key}}
    <span class="glyphicon glyphicon-pencil"></span></a>
  </div>
</div>

<div *ngIf="!loading && polls && polls.length === 0">
  <h1>Lo sentimos, actualmente no hay ninguna carrera para administrar</h1>
  <div class="row">
    <img class=".img-responsive col-xs-8" src="../assets/we_re_sorry.jpg">
    <div class="col-xs-4"></div>
  </div>
</div>

<nav *ngIf="!loading" class="navbar navbar-default navbar-fixed-bottom poll-header" role="navigation">
  <form class="navbar-form navbar-left">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Nueva encuesta</button>
  </form>
</nav>
