<div *ngIf="student">
  <h1>Welcome {{student.name}} {{student.last_name}}</h1>
  <div class="panel panel-primary">
                <div class="panel-heading">
                        <h3 class="panel-title">
                        <span class="glyphicon glyphicon-hand-right"></span>Please tell us what subjects are you gonna do this semester</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li *ngFor="let subject of student.subjects"class="list-group-item">
                          <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">{{subject.name}}</label>
                          <ul class="list-group">
                            <li *ngFor="let course of subject.offer.courses"class="list-group-item">
                              <ul class="list-group">
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="{{subject.name}}">
                                      <li *ngFor="let schedule of course.schedule"class="list-group-item">
                                          {{schedule.day.getName()}}
                                          {{schedule.interval.hour}}:{{schedule.interval.minutes}} to {{schedule.interval.hourTo}}:{{schedule.interval.minutesTo}}
                                      </li>
                                  </label>
                                </div>
                              </ul>
                            </li>
                          </ul>
                          </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary btn-sm">
                        Submit</button>
            </div>
</div>
<button class="btn btn-default" (click)="goBack()">Back</button>
