<div *ngIf="courses">
  <a data-toggle="collapse" href="#{{course.key}}">
    <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-advanced-pie-chart>
  </a>
  <div class="collapse out" id="{{course.key}}">
    <table *ngIf="students() && students().length > 0" class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students()">
          <th scope="row">{{student.fileNumber}}</th>
          <td>{{student.name}}</td>
          <td>{{student.surname}}</td>
          <td>{{student.email}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!(students() && students().length > 0)" class="centered-text">
      Aún está vacía
    </div>
  </div>
</div>
