<app-student-navbar back="true"></app-student-navbar>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div *ngIf="poll && pollViewService && !loading" class="container">
  <div class="centered-text">
    <h1>Encuesta de Preinscripcción para {{poll.carrer.longName}}
    </h1>
    <b class="gray">{{poll.key}}</b>
  </div>
  <div class="panel-group" id="accordion">
    <div *ngFor="let res of arrayOffer" class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{res[0]}}">
          <h4 class="panel-title">
            {{res[0]}}
          </h4>
        </a>
      </div>
      <div id="{{res[0]}}" class="panel-collapse collapse out">
        <div class="panel-body">
          <div class="list-group">
            <a *ngFor="let option of res[1]" class="list-group-item" [ngClass]="{'active': isSelected(res[0], option) }"
            (click)="select(res[0], option)">
              {{getText(option)}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom poll-header" role="navigation">
  <form class="navbar-form navbar-left" role="search">
    <div class="dropdown">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Opcion por defecto <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li style="padding-right: 10px; padding-left: 10px">Seleccionar opcion por defecto</li>
        <li class="divider"></li>
        <li *ngFor="let option of defaultOptions">
          <a (click)="changeDefault(option)">{{getText(option)}}</a>
        </li>
      </ul>
      <button (click)="submit()" type="submit" class="btn btn-default">Enviar</button>
    </div>
  </form>
</nav>
