<nav *ngIf="admin" class="navbar navbar-default navbar-fixed-top poll-header" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">{{admin.name}} {{admin.surname}}</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-right" role="search">
      <button type="button" href="#" class="btn btn-default" (click)="logout()">Logout</button>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>
<div *ngIf="poll">
  <h1 class="centered-text">{{poll.key}}</h1>
  <ngx-charts-pie-chart *ngIf="pie_multi"
      [view]="pie_view"
      [scheme]="pie_colorScheme"
      [results]="pie_multi"
      [explodeSlices]="pie_explodeSlices"
      [labels]="pie_showLabels"
      [doughnut]="pie_doughnut"
      [gradient]="pie_gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
</div>
<div *ngIf="multi">
<ngx-charts-heat-map
  (window:resize)="onResize($event)"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [legend]="showLegend"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-heat-map>
</div>
