<app-student-navbar></app-student-navbar>
<div class="container" *ngIf="pollViewService && pollViewService.student && pollViewService.student.careers">
  <div *ngFor="let career of pollViewService.student.careers" class="list-group">
    <a *ngFor="let poll of career.polls" class="list-group-item btn"
    [ngClass]="{'list-group-item-warning': !active(poll), 'list-group-item-success': active(poll)}"
    routerLink="{{poll.key}}">
      {{career.shortName}}: {{poll.key}}
    <span class="glyphicon" [ngClass]="{'glyphicon-pencil': !active(poll), 'glyphicon-ok' : active(poll)}"></span></a>
  </div>
</div>
