<div *ngIf="poll && pollViewService" class="container">
  <h1>Encuesta de Intención de inscripcción {{poll.key}} para {{poll.career.longName}}
  </h1>
  <div class="panel-group" id="accordion">
    <div *ngFor="let res of poll.arrayOffer" class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{res[0].shortName}}">
          <h4 class="panel-title">
            {{res[0].shortName}}
          </h4>
        </a>
      </div>
      <div id="{{res[0].shortName}}" class="panel-collapse collapse out">
        <div class="panel-body">
          <div class="list-group">
            <a *ngFor="let option of res[1].options" class="list-group-item" [ngClass]="{'active': isSelected(res[0], option) }"
            (click)="select(res[0], option)">
              {{option.text}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
