<nav *ngIf="pollViewService && pollViewService.student" class="navbar navbar-default navbar-fixed-top poll-header" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">{{pollViewService.student.name}} {{pollViewService.student.surname}}</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-right" role="search">
      <a (click)="goBack()" class="btn btn-default">Atras</a>
      <button type="button" href="#" class="btn btn-default" (click)="logout()">Logout</button>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>
