<nav *ngIf="admin" class="navbar navbar-default navbar-fixed-top poll-header" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">{{admin.name}} {{admin.surname}}</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-right" role="search">
      <a (click)="goBack()" class="btn btn-default">Atras</a>
      <button type="button" href="#" class="btn btn-default" (click)="logout()">Logout</button>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container marginright" *ngIf="subject">
  <div class="row">
    <h1 class="centered-text marginleft">{{subject.shortName}}
    </h1>
    <div *ngFor="let course of courses" class="col-xs-{{rowSize}}" style="{ box-shadow: 5px 10px; }">
      <h4 class="gray centered-text marginleft">{{course.id}}</h4>
      <app-course-admin-detail [admin]="admin" [course]="course" [subject]="subject" [courses]="length">
      </app-course-admin-detail>
    </div>
  </div>
</div>
