/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 70px;
  padding-bottom: 100px;
}

.poll-header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+14,6d0019+65 */
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 14%, #6d0019 65%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a90329 14%,#6d0019 65%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 14%,#6d0019 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.centered-text{
  padding: 0 90px;
  text-align: justify;
  text-align-last: center;
}

.navbar-brand > a {
  color: #fff;
}

.gray {
  color : #666;
}

#grayOutDiv {
  background-color: #333;
  opacity: 0.7;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
}

.flash-message {
  z-index: 10000;
  position: relative;
}

.we-sorry {
  background: url('assets/we_re_sorry.jpg');
}
